<div class="card-div">
    <div class="card">
        <img src="{{ url_for('static', filename='books_catalog.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Our Books</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/books" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='students_catalog.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Our Students</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/students" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='staff_catalog.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Our Staff</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/staff" class="btn btn-primary">Go</a>
        </div>
    </div>
</div>