<div class="object-fit position-absolute top-50 start-0">
    <img src="{{ url_for('static', filename='book1.jpg') }}" class="object-fit-sm-contain border rounded" alt="...">
    <img src="{{ url_for('static', filename='book2.jpg') }}" class="object-fit-md-contain border rounded" alt="...">
    <img src="{{ url_for('static', filename='book3.jpg') }}" class="object-fit-lg-contain border rounded" alt="...">
    <img src="{{ url_for('static', filename='book4.jpg') }}" class="object-fit-xl-contain border rounded" alt="...">
    <img src="{{ url_for('static', filename='book5.jpg') }}" class="object-fit-xxl-contain border rounded" alt="...">
</div>