.content-section {
    border:3px solid rgba(0, 0, 0, 0.1);
    width: 700px;
    margin-left: 300px;
    padding: 20px;
    margin-top: 20px;
}

.media-body {
    margin-left: 20px;
}

.media {
    display: flex;
}